# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.local
.env.*.local

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS files
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo

# Vite
vite.config.d.ts
vite.config.js

.claude/